.article {
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 1.7em;
}

.article img {
    max-width: 100%;
}

code {
    font-family: Fira;
    background-color: #222;
    border-radius: .3em;
    padding: 0 .3em;
}

#fire-button {
    position: absolute;
    top: 10em;
    margin-left: calc(2vw + 2em);
}
#fire-button {
    background-color: #0000;

}
#fire-button > .icon {
    font-size: 2em;
}
#fire-button:hover {
    color: orange;
}
#fire-button:active {
    color: red;
}
#fire-button::after {
    display: none;
}