/*
//	fonts
*/

@font-face {
    font-family: 'Digitalt';
    src: url("./media/fonts/Digitalt.ttf") format("truetype");
}
@font-face {
    font-family: 'Inter';
    src: url("./media/fonts/Inter.ttf") format("truetype");
}
@font-face {
    font-family: 'Monsterrat';
    src: url("./media/fonts/Monsterrat.ttf") format("truetype");
}

/*
//	base page layout
*/

#nav-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	background-color: white;
	padding: 0 1em;
}

#pre-content {

}

#content {
	margin: 6em 2em;
}

#footer-bottom {
	position: absolute;
	bottom: 0;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	left: 50%;
	transform: translateX(-50%);
}
.footer-bottom-item {
	justify-self: center;
}


/*
//	base style
*/

body {
	font-family: Monsterrat;
	background-color: black;
	color: white;
}

a {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.nav-item, .nav-brand {
	display: inline-flex;
	color: black;
	letter-spacing: 0.1em;
	font-family: Inter;
	margin: 0 1em;
}
.nav-brand {
}
.nav-item {
	font-weight: normal;
}


/*
//	buttons & input
*/

.btn-primary {
	background-color: #ff0026;
	color: black;
}
.btn-secondary {
	background-color: white;
	color: blacsk;
}
.btn-accent {
	background-color: #ff0026;
	color: white;
}

/*
//	misc
*/

.icon-sm {
	width: auto;
	height: 1em;
	transform: translateY(0.1em);
}

.card {
	background-color: white;
	border-radius: 1em;
	color: black !important;
	padding: 0.15em 1em;
}

.text-gradient {
	background: linear-gradient(0deg, #7542f5 0%, #5742f5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}