#about .accomplishment-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

#about #img-sdacathon { object-position: 0 -10em; }
#about #img-ostalbhackathon { object-position: 0 -12em}

/*
// mobile was is curse for web development
*/
@media (max-width:1400px)
{
    #about .accomplishment-img {
        width: 100%;
        height: 40vw;
    }
    #about .container {
        display: block;
    }

    #about #img-sdacathon { object-position: 0 -20vw; }
    #about #img-ostalbhackathon { object-position: 0 -24vw}
}