.featured-article-button {
    margin: 1em;
}

/*
// mobile was is curse for web development
*/
@media (max-width:1400px)
{
    .featured-article {
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    .featured-article p {
        font-size: 1em; font-weight: normal; margin-top: 0;
    }

    .featured-article-button {
        margin: 0;
    }

    .card, .card-2, .card-i2, .card-i1, .card-3, .card-i3, .card-4, .card-5, .card-accent, .card-i5 {
        padding: 0.8em 1.5em 1.5em;
        display: grid;
        max-width: 75vw !important;
    }

    .padding-sides-m {
        transform: translateX(-4em);
    }
}