.featured-article {
    max-width: 50vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5em;
}
.featured-article h2 {
    font-family: Fira;
}

/* on mobile: less preview padding */
@media (max-width:1000px) {
    .featured-article {
        max-width: 90vw;
    }
}