.card {
    border: white 1px solid;
    border-radius: 0;
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
}


.card {
    background-color: #ffffff00;
}

.heading {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}