/*
 * styling for elements in base template
*/

html {
    font-family: Monsterrat;
    overflow-x: hidden;
    color: white;
    background-color: black;
}

#content {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3em;
}

/* on mobile: no content padding */
@media (max-width:1000px) {
    #content {
        padding-left: 0;
        padding-right: 0;
    }
}