html.light {
    background-color: #D9D9D9;
    color: #1a1c1c;
}
.light a {
    color: #1a1c1c;
}
.light a:hover {
    color: #007BFF;
}
/*
// header
*/
.light header {
    background-color: #F0F0F0;
    border-bottom: 0.1em solid #D9D9D9;
}
.light header .logo:hover, .light header .item:hover {
    color: black;
}
/*
// about page
*/
.light #projects > .item {
    border-color: black;
}
/*
// buttons
*/
.light button {
    color: black;
    border: black 1px solid;
    outline: black 1px solid;
    background-color: #00000000;
}
.light button:hover {
    border: #0099FF 1px solid;
    outline: #0099FF 1px solid;
    background-color: #0099FF;
}
.light button:active {
    background-color: #0059FF;
}
/*
** icons
*/
/*
** blog
*/
.light code {
    background-color: #eee;
}