#terminal-window {
    margin-top: 5em;
    background-color: #101010;
    padding: 1em 1em;
    border-radius: .3em;
    height: cal(26.5vh - 26.5vw);
}

.terminal-code {
    color: white;
    font-family: Fira;
    margin: .2em;
}

#content > p {
    margin: .3em 0;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#projects > .item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 23vw;
    height: 11em;
    border: 1px white dashed;
}

#projects > .item > img {
    width: 11em;
}

#projects > .item > div {
    transform: translateX(1em);
}

#projects > .item .emoji {
    font-size: 5em;
    position: relative;
    left: calc(50% - 1em);
}

/* on mobile: change layout */
@media (max-width:370px) {
    header .icon {
        display: none;
    }
    header > div {
        transform: translateY(.2em);
    }

}


@media (max-width: 1800px) {
    .no-mobile {display: none !important;}

    /*
     * on mobile: change layout to bullets
    */
    #projects {
        display: block;
    }
    #projects > .item {
        height: 3em;
        border: none;
        width: 100%;
    }
    #projects > .item > li {
        margin-bottom: .7em;
    }
}
@media (min-width: 1800px) {
    .mobile {display: none !important;}
}
